.fa-travis:before
{
    background-image: url("../../img/travis.png");
    background-size: 25px 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    content:"";
}

.fa-npm:before
{
    background-image: url("../../img/npm.png");
    background-size: 25px 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    content:"";
}

.fa-habr:before
{
    background-image: url("../../img/habr.png");
    background-size: 25px 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    content:"";
}
